#comment
  padding 20px
  background #fff
  border-radius 10px
  margin-bottom 50px
  .fb-comments
    width 100% !important
  .title
    font-weight normal
    margin-bottom 15px
  iframe
    width 100% !important