#footer
  color color-meta
  margin-bottom 50px
  font 0.9em/1.6 font-title
  text-shadow 0 0 1px #fff
  .alignleft
    display flex
    align-items center
    line-height 24px
    .copyright
      font-size 16px
      font-weight bold
      line-height 24px
      margin-left 10px